@import './../styles/mixins.scss';

.users-page-content {
  align-items: flex-start;
  width: 100%;
  gap: 20px;
}

.wrapper-users-page {
  flex: 1;
  min-height: 100vh;
}

.users-page {
  max-width: 1460px;
  flex-direction: row;
  gap: 50px 70px;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-bottom: 100px;

  p {
    color: var(--inverse-color);
    font-size: 70px;
  }
}