<div class="create-user-form flex">
  <form [formGroup]="userForm">
    <label for="name">{{ 'CREATE_USER.NAME' | translate }}</label>
    <input type="text" id="name" formControlName="name" required appAnimatedGradient [options]="gradientOptions">

    <label for="username">{{ 'CREATE_USER.USERNAME' | translate }}</label>
    <input type="text" id="username" formControlName="username" required appAnimatedGradient [options]="gradientOptions">

    <label for="email">{{ 'CREATE_USER.EMAIL' | translate }}</label>
    <input type="email" id="email" formControlName="email" required appAnimatedGradient [options]="gradientOptions">

    <label for="phone">{{ 'CREATE_USER.PHONE' | translate }}</label>
    <input type="text" id="phone" formControlName="phone" required appAnimatedGradient [options]="gradientOptions">

    <label for="website">{{ 'CREATE_USER.WEBSITE' | translate }}</label>
    <input type="text" id="website" formControlName="website" appAnimatedGradient [options]="gradientOptions">

    <div formGroupName="address">
      <label for="address-city">{{ 'CREATE_USER.ADDRESS_CITY' | translate }}</label>
      <input type="text" id="address-city" formControlName="city" required appAnimatedGradient [options]="gradientOptions">

      <label for="address-street">{{ 'CREATE_USER.ADDRESS_STREET' | translate }}</label>
      <input type="text" id="address-street" formControlName="street" required appAnimatedGradient [options]="gradientOptions">

      <label for="address-suite">{{ 'CREATE_USER.ADDRESS_SUITE' | translate }}</label>
      <input type="text" id="address-suite" formControlName="suite" appAnimatedGradient [options]="gradientOptions">

      <label for="address-zipcode">{{ 'CREATE_USER.ADDRESS_ZIPCODE' | translate }}</label>
      <input type="text" id="address-zipcode" formControlName="zipcode" required appAnimatedGradient [options]="gradientOptions">
    
      <div formGroupName="geo">
        <label for="address-geo-lat">{{ 'CREATE_USER.ADDRESS_GEO_LAT' | translate }}</label>
        <input type="text" id="address-geo-lat" formControlName="lat" required appAnimatedGradient [options]="gradientOptions">

        <label for="address-geo-lng">{{ 'CREATE_USER.ADDRESS_GEO_LNG' | translate }}</label>
        <input type="text" id="address-geo-lng" formControlName="lng" required appAnimatedGradient [options]="gradientOptions">
      </div>
    </div>
    
    <div formGroupName="company">
      <label for="company-name">{{ 'CREATE_USER.COMPANY_NAME' | translate }}</label>
      <input type="text" id="company-name" formControlName="name" required appAnimatedGradient [options]="gradientOptions">

      <label for="company-catchPhrase">{{ 'CREATE_USER.COMPANY_CATCH_PHRASE' | translate }}</label>
      <input type="text" id="company-catchPhrase" formControlName="catchPhrase" appAnimatedGradient [options]="gradientOptions">

      <label for="company-bs">{{ 'CREATE_USER.COMPANY_BS' | translate }}</label>
      <input type="text" id="company-bs" formControlName="bs" appAnimatedGradient [options]="gradientOptions">
    </div>
  </form>
  <button
    class="create-user-button"
    type="button"
    id="create-user-button"
    (click)="onSubmit()"
    [disabled]="userForm.invalid">
    {{ 'CREATE_USER.SUBMIT' | translate }}
  </button>
</div>