<div class="create-user-form flex">
  <form [formGroup]="myForm">
    <label for="name">Name</label>
    <input type="text" id="name" formControlName="name" required>

    <label for="username">Username</label>
    <input type="text" id="username" formControlName="username" required>

    <label for="email">Email</label>
    <input type="email" id="email" formControlName="email" required>

    <label for="phone">Phone</label>
    <input type="text" id="phone" formControlName="phone" required>

    <label for="website">Website</label>
    <input type="text" id="website" formControlName="website">

    <div formGroupName="address">
      <label for="address-city">Address city</label>
      <input type="text" id="address-city" formControlName="city" required>

      <label for="address-street">Address street</label>
      <input type="text" id="address-street" formControlName="street" required>

      <label for="address-suite">Address suite</label>
      <input type="text" id="address-suite" formControlName="suite">

      <label for="address-zipcode">Address zipcode</label>
      <input type="text" id="address-zipcode" formControlName="zipcode" required>
    
      <div formGroupName="geo">
        <label for="address-geo-lat">Address geo lat</label>
        <input type="text" id="address-geo-lat" formControlName="lat" required>

        <label for="address-geo-lng">Address geo lng</label>
        <input type="text" id="address-geo-lng" formControlName="lng" required>
      </div>
    </div>
    
    <div formGroupName="company">
      <label for="company-name">Company name</label>
      <input type="text" id="company-name" formControlName="name" required>

      <label for="company-catchPhrase">Company catchPhrase</label>
      <input type="text" id="company-catchPhrase" formControlName="catchPhrase">

      <label for="company-bs">Company bs</label>
      <input type="text" id="company-bs" formControlName="bs">
    </div>
  </form>
  <button
      class="create-user-button"
      type="button"
      id="create-user-button"
      (click)="onSubmit()"
      [disabled]="myForm.invalid">
      Создать пользователя
  </button>
</div>