body {
  overflow: hidden;
}

.download-block-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  
  .download-block {
    width: 300px;
    height: 100px;
    background-color: #D9D9D9;
    position: relative;
    border-radius: 15px;

    .download-icon {
      position: absolute;
      left: 30px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 51px;
      color: #3f0a74;
      display: inline-block;
      animation: fa-spin 1.5s linear infinite;
    }
    
    @keyframes fa-spin {
      0% {
        transform: translateY(-50%) rotate(0deg);
      }
      100% {
        transform: translateY(-50%) rotate(360deg);
      }
    }

    .download-demo {
      position: absolute;
      left: 108px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 20px;
      color: #333;
      white-space: nowrap;
    }
  }
}