@if (isLoading) {
  <div class="download-block-wrapper flex">
    <div class="download-block flex ai-center jc-center">
      <img src="/images/download-icon.png" alt="download-icon" class="download-icon">
      <div class="download-demo flex ai-center">
        Загрузка страницы...
      </div>
    </div>
  </div>
} @else {
  <section class="banner">
    <header class="header flex jc-center">
      <div class="header-content container flex">
        <div class="logo">
          <img src="/images/company-logo.svg" alt="Логотип горы">
          <div class="company-name">{{ companyName }}</div>
        </div>
        <nav class="navigation-line flex ai-center fs-18">
          <a>Главная</a>
          <a>Про гида</a>
          <a>Программа тура</a>
          <a>Стоимость</a>
          <a>Блок</a>
          <a>Контакты</a>
          <button class="header-button flex jc-center ai-center" id="header-button">Консультация</button>
        </nav>
      </div>
    </header>
    <div class="switcher flex jc-center fs-18">
      <div class="container flex jc-right">
        <button name="switch-button" id="switch-button" (click)="switchTask()">
          {{ switchFlag ? 'Покажи счетчик' : 'Покажи таймер' }}
        </button>
      </div>
    </div>
    @if (switchFlag) {
      <div class="display-date-and-time flex jc-center fs-18">
        <div class="container flex jc-right">
          Текущие дата и время: {{ currentDateAndTime }}
        </div>
      </div>
    } @else {
      <div class="flex jc-center fs-18">
        <div class="click-counter container flex jc-right">
          <p>{{ clickCounter }}</p>
          <button name="plus-button" id="plus-button" (click)="increaseCount()">+</button>
          <button [disabled]="clickCounter < 1" name="minus-button" id="minus-button" (click)="reduceCount()">-</button>
        </div>
      </div>
    }
    <div class="main-title flex jc-center">
      <h1 class="main-title-content">
        Насладись прогулкой в горах <br> с командой единомышленников
      </h1>
    </div>
    <div class="tour-wrapper flex jc-center">
      <div class="tour-search container flex ai-center">
        <form class="form-tour flex">
          <div class="selection-field fs-16">
            <select name="tour-location" id="tour-location" [(ngModel)]="selectedTour">
              <option value="" disabled selected>Локация для тура</option>
              @for (location of locations; track location.id) {
                <option [ngValue]="location.tourLocation">{{ location.tourLocation }}</option>
              }
            </select>
            <span class="label-selection-field fs-14">выберите из списка</span>
          </div>
          <div class="selection-field fs-16">
            <input type="text" name="tour-date" id="tour-date" [(ngModel)] = "selectedDate" required placeholder="Дата похода">
            <img src="/images/calendar-logo.svg" alt="calendar">
            <span class="label-selection-field fs-14">укажите дату</span>
          </div>
          <div class="selection-field fs-16" >
            <select name="group-size" id="group-size" [(ngModel)] = "selectedGroup">
              <option value="" disabled selected>Участники</option>
              @for (group of groups; track group.id) {
                <option [value]="group.participantsCount" >{{ group.participantsCount }}</option>
              }
            </select>
            <span class="label-selection-field fs-14">выберите из списка</span>
          </div>
          <div>
            <button [disabled]="!selectedTour || !selectedDate || !selectedGroup"
              class="search-tour-button fs-16 bold"
              name="search-tour-button"
              id="search-tour-button"
              type="submit">
              Найти программу
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="live-input container flex fs-20">
      <div class="flex">
        <input [(ngModel)]="liveInput" type="text" name="live-input" id="live-input" placeholder="Введите что-нибудь ...">
        <div class="live-output flex">
          {{ liveInput }}
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="section-about-trip flex jc-center">
      <div class="container about-trip">
        <div class="left-side-block">
          <div class="left-side-block-img">
            <img class="mountain" src="/images/mountain.png" alt="mountain">
            <img class="home" src="/images/home.png" alt="home">
          </div>
        </div>
        <div class="right-side-block flex">
          <p class="block-header">о нашем походе</p>
          <p class="block-subheader">Исследуйте все горные массивы мира вместе с нами</p>
          <p class="block-description">Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur"и занялся его поисками в классической латинской литературе.</p>
          <button class="tour-program-button flex jc-center ai-center" id="tour-program-button">Программа тура</button>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="section-best-programs flex jc-center ai-center">
      <div class="left-side-block flex">
        <p class="block-header">наше предложение</p>
        <p class="block-subheader">Лучшие программы для тебя</p>
        <p class="block-description">Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа.</p>
        @for (service of services; track service.id) {
          <div [id]="'service-' + service.id" class="about flex" (click)="selectService(service.id)">
            <div class="service-icon">
              <img [src]="'/images/'+service.icon+'.svg'" [alt]="service.icon">
            </div>
            <div class="text" [class.active-service]="service.id === selectedServiceId">
              <p class="title">{{ service.title }}</p>
              <p class="description">{{ service.description }}</p>
              @if (service.id === selectedServiceId) {
                <img class="thumbs-up-icon" src="/images/thumbs-up-icon.svg" alt="thumbs-up">
              }
            </div>
          </div>
        }
        <button class="cost-of-programs-button" id="cost-of-programs-button">Стоимость программ</button>
      </div>
      <div class="right-side-block">
        <div class="right-side-block-img flex">
            <img class="lake" src="/images/lake.png" alt="lake">
            <img class="snowmobile" src="/images/snowmobile.png" alt="snowmobile">
            <img class="gorge" src="/images/gorge.png" alt="gorge">
            <img class="creek" src="/images/creek.png" alt="creek">
          </div>
      </div>
    </div>
  </section>
}