<div class="message-container flex">
  @for (message of messageService.messages$ | async; track $index) {
    <ng-container
      [ngTemplateOutlet]="messageTemplate"
      [ngTemplateOutletContext]="{ currentMessage: message }">
    </ng-container>
  }
</div>

<ng-template #messageTemplate let-msg="currentMessage">
  <div class="message-window flex ai-center">
    <fa-icon [icon]="faEnvelopeOpen" class="letter-icon" />
    <div class="message-body flex">
      <span class="message-type">{{ msg.type }}</span>
      <span class="message-content">{{ msg.content }}</span>
    </div>
    <fa-icon
      [icon]="faCircleXmark"
      class="close-icon"
      (click)="messageService.closeMessage(msg)"
      />
  </div>
</ng-template>