<div class="user-card">
  <div class="header">
    <p class="name">{{ user.name | uppercase }}</p>
    <p class="user-name">{{ user.username }}</p>
  </div>
  <div class="body" appAnimatedGradient [options]="gradientOptions">
    <section>
      <h2>{{ 'USER_CARD.CONTACTS' | translate }}</h2>
      <div class="row">
        <span>{{ 'USER_CARD.EMAIL' | translate }}</span>
        <b>{{ user.email }}</b>
      </div>
      <div class="row">
        <span>{{ 'USER_CARD.PHONE' | translate }}</span>
        <b appBold>{{ user.phone | phoneNumber: phoneMode }}</b>
      </div>
      <div class="row">
        <span>{{ 'USER_CARD.WEBSITE' | translate }}</span>
        <b>{{ user.website || ('USER_CARD.UNKNOWN' | translate) }}</b>
      </div>
    </section>
    
    <section>
      <div class="address-info">
        <h2>{{ 'USER_CARD.RESIDENTIAL_ADDRESS' | translate }}</h2>
        <div class="row">
          <span>{{ 'USER_CARD.CITY' | translate }}</span>
          <b>{{ user.address.city }}</b>
        </div>
        <div class="row">
          <span>{{ 'USER_CARD.STREET' | translate }}</span>
          <b>{{ user.address.street }}</b>
        </div>
        <div class="row">
          <span>{{ 'USER_CARD.OFFICE' | translate }}</span>
          <b>{{ user.address.suite || ('USER_CARD.UNKNOWN' | translate) }}</b>
        </div>
        <div class="row">
          <span>{{ 'USER_CARD.ZIP_CODE' | translate }}</span>
          <b>{{ user.address.zipcode }}</b>
        </div>
        <div class="row row--coordinates">
          <span>{{ 'USER_CARD.COORDINATES' | translate }}</span>
          <div class="coordinates">
            <b>{{ user.address.geo.lat }}</b>
            <b>{{ user.address.geo.lng }}</b>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="work-info">
        <h2>{{ 'USER_CARD.WORKPLACE' | translate }}</h2>
        <div class="row">
          <span>{{ 'USER_CARD.COMPANY' | translate }}</span>
          <b>{{ user.company.name }}</b>
        </div>
        <div class="row">
          <span>{{ 'USER_CARD.MISSION' | translate }}</span>
          <i>{{ user.company.catchPhrase || ('USER_CARD.UNKNOWN' | translate) }}</i>
        </div>
        <div class="row">
          <span>{{ 'USER_CARD.SPECIALIZATION' | translate }}</span>
          <b>{{ user.company.bs || ('USER_CARD.UNKNOWN' | translate) }}</b>
        </div>
      </div>
    </section>
    <button
      class="delete-user-button"
      id="delete-user-button"
      (click)="onDeleteClick(user.id)">
      {{ 'USER_CARD.DELETE' | translate }}
    </button>
  </div>
</div>