<app-users-filter
  [filteredCountUsers]="(filteredUsers$ | async)?.length ?? 0"  
  (usersFiltering)="onFilterUsers($event)">
</app-users-filter>
<div class="users-page-content flex">
  <div class="wrapper-users-modules">    
    <app-create-user (userCreate)="onSumbit($event)"></app-create-user>
  </div>
  <div class="wrapper-users-page flex jc-center">
    <div class="users-page flex jc-center">
      @for (user of filteredUsers$ | async; track user.id) {
        <app-user-card
          [user]="user"
          (userDelete)="onDeleteUser($event)">
        </app-user-card>
      } @empty {
        <div class="empty-state flex jc-center ai-center">{{ 'USERS.EMPTY_STATE' | translate }}</div>
      }
    </div>
  </div>
</div>