@mixin button-parameters($width, $height, $border_radius, $background_color: var(--third-color)) {
  width: $width;
  height: $height;
  border-radius: $border_radius;
  cursor: pointer;
  background-color: $background_color;
}

.header-button {
  @include button-parameters(157px, 44px, 4px);

  color: var(--primary-color);
  margin-left: 25px;
}

.search-tour-button {
  @include button-parameters(213px, 52px, 8px, var(--primary-color));

  border: 1px solid var(--primary-color);
}

.search-tour-button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: default;
  opacity: 0.7;
}

.tour-program-button, .cost-of-programs-button {
  color: var(--primary-color);
  opacity: 1;
  gap: 10px;
  padding-top: 16px;
  padding-right: 36px;
  padding-bottom: 16px;
  padding-left: 36px;
  margin-top: 40px;
}

.tour-program-button {
  @include button-parameters(200px, 52px, 4px);
}

.cost-of-programs-button {
  @include button-parameters(236px, 52px, 4px);
}

#minus-button, #plus-button {
  cursor: pointer;
  width: 30px;
  height: 30px;
  font-size: 25px;
}

#minus-button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: default;
  opacity: 0.7;
}

#show-counter-button, #show-timer-button {
  cursor: pointer;
  width: 180px;
  height: 45px;
  font-size: 20px;
  margin-bottom: 15px;
  border-radius: 8px;
}