<div class="login-page flex">
  <form [formGroup]="loginForm" class="login-form flex" autocomplete="off">
    <h2 class="login-title">{{ 'LOGIN.TITLE' | translate }}</h2>
    
    <label for="username">{{ 'LOGIN.USERNAME' | translate }}</label>
    <input type="text" id="username" formControlName="username" autocomplete="username" required>

    <label for="password">{{ 'LOGIN.PASSWORD' | translate }}</label>
    <input type="password" id="password" formControlName="password" autocomplete="current-password" required>

    <button
      type="button"
      id="login-button"
      (click)="submit()"
      [disabled]="loginForm.invalid">
      {{ 'LOGIN.SUBMIT' | translate }}
    </button>
  </form>
</div>