<section>
  <div class="footer flex">
    <div class="travel-newsletters flex">
      <div class="left-side flex">
        <p class="block-header">актуально</p>
        <p class="block-subheader">Получайте полезные рассылки о путешествиях</p>
      </div>
      <div class="right-side flex">
        <div class="right-side-input flex">
          <div class="input-block">
            <div class="input-block-header">
              Введите email-адрес
            </div>
            <input class="input-block-field" type="email" placeholder="name@domain.com" required>
          </div>
          <button class="subscribe-news-button" id="subscribe-news-button">Подписаться на новости</button>
        </div>
        <div class="right-side-agreement">
          подписываясь на новости, вы автоматически соглашаетесь с 
          <span class="underline">условиями обработки персональных данных</span>
          и
          <span class="underline">правилами рекламных рассылок</span>
        </div>
      </div>
    </div>
    <div class="top-of-footer flex">
      <div class="top-of-footer-content flex container"> 
        <div class="left-part">
          <div class="title">Компания «РумТибет»</div>
          <div class="subtitle">Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney.</div>
          <div class="contacts underline flex">
            <a href="mailto:info@domain.com">info@domain.com</a>
            <a href="tel:+71234567890">+7 (123) 456-78-90</a>
          </div>
          <div class="links-social-networks flex">
            <img src="/images/telegram-icon.svg" alt="telegram-icon">
            <img src="/images/vk-icon.svg" alt="vk-icon">
            <img src="/images/pinterest-icon.svg" alt="pinterest-icon">
            <img src="/images/skype-icon.svg" alt="skype-icon">
          </div>
        </div>
        <div class="middle-part">
          <div class="title">Наши услуги</div>
          <nav class="middle-part-nav">
            <ul>
              <li>Прогулки в горы летом</li>
              <li>Зимние походы в горы</li>
              <li>Посещение храмов в горах</li>
              <li>Экстремальные виды туризма</li>
              <li>Походы в джунглях Амазонии</li>
              <li>Поездка в Африку</li>
            </ul>
          </nav>
        </div>
        <div class="right-part">
          <div class="title">Важно для путешествий</div>
          <nav class="middle-part-nav">
            <ul>
              <li>Как собрать в долгий поход?</li>
              <li>Жизненно важные предметы для похода</li>
              <li>Медицинская страховка, гарантии безопасности</li>
              <li>Если вы врач - загляните сюда</li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="bottom-of-footer flex jc-center">
      <div class="container ai-center">
        <div class="left-side">ИП Константинопольский К.К., 2023</div>
        <div class="right-side underline">Политика обработки персональных данных</div>
      </div>
    </div>
  </div>
</section>