<form [formGroup]="postEditForm">

  <label for="title">{{ 'POST_EDIT.TITLE' | translate }}</label>
  <input
    id="title"
    pInputText
    formControlName="title">

  <label for="tags">{{ 'POST_EDIT.TAGS' | translate }}</label>
  <input
    id="tags"
    pInputText
    formControlName="tags">

  <label for="views">{{ 'POST_EDIT.VIEWS' | translate }}</label>
  <input
    id="views"
    pInputText
    type="number"
    formControlName="views">

</form>

<div class="dialog-footer">
  <button
    id="closePostBtn"
    pButton
    [label]="'POST_EDIT.CANCEL' | translate"
    (click)="close()">
  </button>

  <button
    id="savePostBtn"
    pButton
    [label]="'POST_EDIT.SAVE' | translate"
    (click)="save()">
  </button>
</div>