<div class="post-create-page">
  <form class="form" [formGroup]="postForm">
    <h2>{{ 'POST_CREATE.TITLE' | translate }}</h2>
    <label for="title">{{ 'POST_CREATE.TITLE_LABEL' | translate }}</label>
    <input
      id="title"
      pInputText
      formControlName="title"
    >

    <label for="body">{{ 'POST_CREATE.BODY_LABEL' | translate }}</label>
    <textarea
      id="body"
      rows="6"
      formControlName="body">
    </textarea>

    <label for="tags">{{ 'POST_CREATE.TAGS_LABEL' | translate }}</label>
    <input
      id="tags"
      pInputText
      formControlName="tags"
    >
    
    <label for="views">{{ 'POST_CREATE.VIEWS_LABEL' | translate }}</label>
    <input
      id="views"
      pInputText
      type="number"
      formControlName="views"
    >

    <label for="userId">{{ 'POST_CREATE.USER_ID_LABEL' | translate }}</label>
    <input
      id="userId"
      pInputText
      type="number"
      formControlName="userId"
    >

    <div formGroupName="reactions">
      <span class="reactions-title">{{ 'POST_CREATE.REACTIONS' | translate }}</span>
      <div class="reactions-block">
        <label for="likes">{{ 'POST_CREATE.LIKES' | translate }}</label>
        <input
        id="likes"
        type="number"
        formControlName="likes">

        <label for="dislikes">{{ 'POST_CREATE.DISLIKES' | translate }}</label>
        <input
          id="dislikes"
          type="number"
          formControlName="dislikes">
      </div>
    </div>

    <button
      id="createPostBtn"
      pButton
      type="submit"
      [label]="'POST_CREATE.CREATE' | translate"
      (click)="createPost()">
    </button>

    <button
      id="cancelBtn"
      pButton
      type="button"
      [label]="'POST_CREATE.CANCEL' | translate"
      (click)="backToPosts()">
    </button>
  </form>
</div>